<div class="page__inner h-100">
  <div class="login-wrapper">
    <div class="header">
      <h2>Doctor Profile</h2>
      <h6 class="anim">Please fill up the details.</h6>
    </div>
    <form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit(signupForm)">
      <div class="input-row anim">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label class="cff">Full Name</mat-label>
          <input
            matInput
            type="text"
            class="cff"
            autocomplete="off"
            formControlName="name"
          />
          <!-- <mat-error *ngIf="userId.invalid">{{getErrorMessage('id')}}</mat-error> -->
        </mat-form-field>
      </div>
      <div class="input-row anim">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label class="cff">Business Name</mat-label>
          <input
            matInput
            type="text"
            class="cff"
            autocomplete="off"
            formControlName="bname"
          />
          <!-- <mat-error *ngIf="userId.invalid">{{getErrorMessage('id')}}</mat-error> -->
        </mat-form-field>
      </div>
      <div class="input-row anim">
        <p class="hint-text">
          Your full name is your default business name. Please edit if you've a
          business else keep the default.
        </p>
        <p class="hint-text">
          <strong>Changing of business name is not allowed afterwards. </strong>
        </p>
      </div>
      <div class="input-row">
        <button
          class="btn__signin anim loading-btn"
          [class.loading]="formSubmitted"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Submit
        </button>
        <button
          class="btn__cancel anim"
          routerLink="/welcome"
          routerDirection="root"
          [disabled]="formSubmitted"
        >
          Cancel
        </button>
      </div>
    </form>
    <!-- <div class="footer anim">
      <div class="links">
        <p><a routerLink="/welcome" routerDirection="root">Cancel</a></p>
      </div>
    </div> -->
  </div>
</div>
