ion-list {
  padding-top: 5px;
}

.appointment-actions {

  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 60px;
  align-items: stretch;
  justify-items: center;

  button {
    cursor: pointer;
    padding: 12px 5px;
    background: #fdfdfd;
    border: 1px solid #eee;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color: #666;
    border-radius: 2px;
    width: 180px;

    &.main {
      background-color: var(--ion-color-primary);
      color: #fff;
      border-color: var(--ion-color-primary);

      &:disabled {
        background: #f8f8f8;
        color: #888;
        border: #f8f8f8;
      }
    }

    &:focus {
      outline: none;
    }
  }

  >small {
    font-size: 12px;
    text-align: center;
    display: block;
    color: var(--ion-color-medium-shade);
    margin-bottom: 6px;
  }

}

.separated-texts {
  span:not(:empty):not(:last-of-type)::after {
    content: ', ';
  }
}