<ion-header class="flat">
  <ion-toolbar class="colored">
    <ion-buttons slot="start">
      <ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
        <ion-icon src="assets/svg/ios-arrow-back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar mode="ios" placeholder="Search" class="gsearch"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content__empty full">
    <div class="no-search"></div>
  </div>
</ion-content>