<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
        <ion-icon ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="video-details-page">
    <div class="video__card">
      <div class="video__preview clickable">
        <div class="video__wrapper">
          <video [src]="video.video.mediaUrl" style="width:100%;height: 100%;object-fit: contain;" autoplay controls>
            Your browser does not support HTML5 video.
          </video>
        </div>
        <!-- <div class="duration">{{vdata.convertVideoTime(video.videodet.durmin)}}</div> -->
      </div>
      <ion-item lines="full">
        <ion-avatar slot="start" class="publisher">
          <img [src]="video.author.picture" alt="...">
        </ion-avatar>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h2>{{video.title}}</h2>
          </ion-text>
          <ion-text color="dark">
            <p>{{video.author.name.first}} {{video.author.name.last}}</p>
          </ion-text>
          <ion-text color="medium"><small>{{video.dtCreated | date : 'mediumDate'}}</small></ion-text>
        </ion-label>
        <ion-icon slot="end" (click)="addTopicToList()" ios="md-bookmark" md="md-bookmark"></ion-icon>
      </ion-item>
      <div class="video__actions" [class.reaction-not-allowed]="ownPost">
        <div class="react">
          <button (click)="likeVideo(true)" [disabled]="ownPost">
            <ion-icon ios="md-thumbs-up" md="md-thumbs-up"></ion-icon>
            <span>{{video.stats.liked}}</span>
          </button>
          <button (click)="likeVideo(false)" [disabled]="ownPost">
            <ion-icon ios="md-thumbs-down" md="md-thumbs-down"></ion-icon>
            <span>{{video.stats.disliked}}</span>
          </button>
        </div>
        <div class="add-topic">
          <button>
            <ion-icon ios="md-share" md="md-share"></ion-icon>
            <span>Share</span>
          </button>
        </div>
      </div>
      <div class="video__description">
        <p class="tags"> <span *ngFor="let item of video.stats.tags">{{item}}</span></p>
        <p [class.short]="shortDescription">{{video.description}}
          <button (click)="shortDescription = false">Read More</button>
        </p>
      </div>
    </div>

    <section class="videos__related">
      <ion-label class="section__title" slot="start">
        Related Videos
      </ion-label>
      <ion-slides class="slides__videos" [options]="slideOpts">
        <ion-slide>
          <div class="video-tile">
            <div class="cover show-play-btn" style="background-image: url('https://picsum.photos/400/320?image=1010')">
            </div>
            <span class="title">Lorem ipsum dolor sit.</span>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="video-tile">
            <div class="cover show-play-btn" style="background-image: url('https://picsum.photos/400/320?image=1005')">
            </div>
            <span class="title">Lorem ipsum dolor</span>
          </div>
        </ion-slide>
      </ion-slides>
    </section>

    <div class="video__comments">
      <div class="all-comments">
        <div class="c-header" *ngIf="reviews.length > 0">
          <h6>{{reviews.length}} comments</h6>
        </div>
        <div class="new-comment" [class.busy]="commented">
          <div class="avatar">
            <img src="https://i.pravatar.cc/100?img=27" alt="">
          </div>
          <div class="c-form">
            <ion-textarea class="v-comment cff" placeholder="Add your comment..." #input maxlength="500"
              [disabled]="commented"></ion-textarea>
          </div>
          <div class="sbtn" [class.d-none]="input.value?.length === 0 || commented">
            <button (click)="postComment(input.value)" [disabled]="input.value?.length === 0 || commented">
              <ion-icon md="md-send" ios="ios-send"></ion-icon>
            </button>
          </div>
        </div>
        <div class="c-list">
          <div class="comment" *ngFor="let item of reviews">
            <div class="avatar">
              <img [src]="item.avatar" alt="">
            </div>
            <div class="c-body">
              <small>{{item.userName}} <span class="meta">{{item.dtWhen | date }}</span> </small>
              <p>{{item.msg}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>