<ion-list class="mb-0">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="imgUrl" alt="">
    </ion-avatar>
    <ion-label>
      <h2>{{refData.getFullname(referral.practitioner.demog)}}</h2>
      <ion-text color="medium">
        <h3>{{referral.practitioner.pracarea.join(', ')}}</h3>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>
      <ion-text color="medium">Status</ion-text>
    </ion-label>
    <ion-badge slot="end" color="medium" *ngIf="pendingReferral">Pending</ion-badge>
    <ion-badge slot="end" color="medium" *ngIf="newReferral">New</ion-badge>
    <ion-badge slot="end" color="primary" *ngIf="referral.referral.state === 2">Accepted</ion-badge>
    <ion-badge slot="end" color="danger" *ngIf="referral.referral.state === 3">Declined</ion-badge>
  </ion-item>
  <ion-item lines="inset">
    <ion-label color="medium">Patient</ion-label>
    <ion-label slot="end" text-right>{{refData.getFullname(referral.patient.demog)}}</ion-label>
  </ion-item>
  <ion-item lines="inset" *ngIf="referral.referral.msgReferral">
    <ion-label text-wrap>
      <ion-text color="medium">Referred Message</ion-text>
      <p>{{referral.referral.msgReferral}}
        <!-- &mdash; <small>{{referral.referral.dtCreate | date: 'mediumDate'}}</small> -->
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="inset" *ngIf="referral.referral.state === 3 && referral.referral.msgDecline">
    <ion-label text-wrap>
      <ion-text color="medium">Reply</ion-text>
      <p>{{referral.referral.msgDecline}}
        &mdash; <small>{{referral.referral.lastModified | date: 'mediumDate'}} </small>
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="inset" *ngIf="referral.referral.state === 2 && referral.referral.msgAccept">
    <ion-label text-wrap>
      <ion-text color="medium">Reply</ion-text>
      <p>{{referral.referral.msgAccept}}
        &mdash; <small>{{referral.referral.lastModified | date: 'mediumDate'}}</small>
      </p>
    </ion-label>
  </ion-item>
  <ion-radio-group *ngIf="showChoices">
    <ion-item lines="none">
      <ion-label color="primary">Accept Referral</ion-label>
      <ion-radio slot="end" value="yes" mode="ios" (ionSelect)="act('accept')"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="danger">Decline Offer</ion-label>
      <ion-radio slot="end" value="no" mode="ios" (ionSelect)="act('decline')"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<div class="referral-actions" *ngIf="showChoices">
  <form [class.d-none]="!acted" [formGroup]="replyReferralForm" novalidate (ngSubmit)="onSubmit(replyReferralForm)">
    <div class="message-box">
      <label>Write your reply (200 char)</label>
      <mat-form-field class="w-100">
        <textarea matInput cdkTextareaAutosize class="limited" formControlName="replyMsg"></textarea>
      </mat-form-field>
      <!-- <textarea rows="6" placeholder="Write you comment..."></textarea> -->
    </div>
    <div class="submit-form">
      <button class="primary" type="submit" [disabled]="replyReferralForm.invalid || formSubmitted">Submit</button>
      <button (click)="cancel($event)" [disabled]="formSubmitted">Cancel</button>
    </div>
  </form>
</div>